page-confirmacion-registro{
  .confirm-content-device{
    background-image: url('../assets/img/fondo-registro.jpg');
    display: block;
    background-size: cover;
    overflow: auto;
    z-index: -1;
    background-position: 0px 0px;
  }
  .confirm-content-web{
    display: block;
    background-size: cover;
    overflow: auto;
    z-index: -1;
    background-position: 0px 0px;
    background: rgba(12, 10, 26, 0.7);
  }
  .toolbar-background {
    /*background: rgba(12, 10, 26, 0.7);*/
    background: transparent !important;
  }
  .item{
    color: white !important;
    background-color: transparent !important;
  }
  .button-outline {
    border:none !important;
    color:#FFFFFF !important;
    border-radius: 7px;
    padding: 0 0.1rem;
    background: rgba(255, 255, 255, 0.5) !important;
    font-family: Roboto !important;
    font-weight: normal !important;
    text-transform: none !important;
  }
  .button-clear {
    color:#FFFFFF !important;
    background: transparent;
    border: none;
    font-family: Roboto !important;
    font-weight: normal !important;
    text-transform: none !important;
  }
}