<ion-toolbar style="background: #153D86">
  <ion-row>
    <ion-col align="center">
      <img src="./assets/imgs/yeboLogo.svg"  class="logo">
    </ion-col>
    <ion-col col-2 class="btn-salir">
      <img src="./assets/img/exit.svg" >
      <label  (click)="exitConfirm()" class="exit">Salir</label>
    </ion-col>
  </ion-row>
  <ion-navbar [hideBackButton]="true" setBackButtonText="" color="primary">
    <ion-row>
      <ion-col>
        <ion-buttons start>
          <button (click)="navCtrl.pop()" *ngIf="namePage&&namePage!='Mensajeros'"
                  style="margin-top: 13px; color: white !important; display: block !important;" ion-button clear>
            <ion-icon style="background-color: transparent;" name="arrow-back">&nbsp;&nbsp;{{namePage}}</ion-icon>
          </button>
          <button  *ngIf="namePage&&namePage=='Mensajeros'"
                  style="text-transform: none !important;margin-top: 0px;  !important; display: block !important;" ion-button clear>
            <b style="font-size: 20px;">Mensajeros</b>
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-toolbar>
