
.style-input{
  background: #FFFFFF;
  border: 1px solid #D8DCE6;
  box-sizing: border-box;
  border-radius: 4px;
}
.new-badge{
  border-radius: 20px;
  color: #fff;
  background-color: #FFAA00;
}

.myDiv {
  position: relative;
  z-index: 9;
  background: #F9F9F9;
  width: 100%;
  height: 100px;
}
.myDiv:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 60%;
  left: 0;
  background: #153D86;
}

page-entregas {

  @media screen and (max-width: 640px) {
    .menu-barra{
      margin-top: 120px;
    }
    .searchbar-md {
      background: inherit;
      padding: 8px;
      margin-top: -50px;
      z-index: 9;
    }
    ion-searchbar {
      position: relative;
      display: block !important;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
    }
    .searchbar-input-container {
      position: relative;
      display: block !important;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      width: 50% !important;
      margin-right: 25% !important;
      margin-left: 0% !important;
    }
  }
  @media screen and (min-width: 640px) {
    .menu-barra{
      margin-top: 120px;
    }
    .searchbar-md {
      background: inherit;
      padding: 8px;
    }
    ion-searchbar {
      position: relative;
      display: block !important;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
    }
    .searchbar-input-container {
      position: relative;
      display: block !important;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      width: 80% !important;
      margin-right: 10% !important;
      margin-left: 0% !important;
    }
  }
  .exit{
    font-weight: bold;
    color: #153D86 !important;
  }

  .dividerCustom {
    .item-inner {
      border-bottom: 1px solid #dedede !important;
      border-radius: 0px !important;
    }
  }

  .scroll-detalles {
    .scroll-content {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .item {
      padding-left: 0px !important;
    }

    .item-inner {
      border: none !important;
    }
  }

  .highlight {
    background-color: #f3f3f3 !important;
  }
  .rounded{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
  }
  .tabs{
/*    width: 85% !important;*/
    border: solid 1px #e6e3e3;
    margin-top: 10px;
  }

  .tabSelected{
    border-bottom: solid 2px #153D86;
  }
  .tab{
    height: 30px;
    font-family: Roboto,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    /* identical to box height */
    text-transform: uppercase;

    color: #000000 !important;


  }

  .button-tomar{
    background-color: #2875BB !important;
    border-radius: 4px;
  }
  .ver{
    color: #2875BB !important;
  }
  .infolabel{
    color: #7C859B;
    font-family: Roboto, serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
  .infolabelresaltado{
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(35, 35, 39, 0.84);
  }

}


