<ion-header>
  <page-header [namePage]="namePage"></page-header>
</ion-header>

<ion-content style="margin-right: 5px; margin-left: 0px;" color="primary">

  <div class="myDiv">
    <ion-row style="background: transparent">
      <ion-col col-1>
      </ion-col>
      <ion-col>
        <div class="rounded tabs">
          <ion-row>
            <ion-col (click)="optionSeletced='todos'"
                     style="background: white;border-radius: 10px 0px 0px 10px;;text-align: center">
              <div style="background:white;" [ngClass]="{'tabSelected': optionSeletced === 'todos'}" class="tab">TODOS
              </div>
            </ion-col>
            <ion-col (click)="optionSeletced='mensajeria'" style="background: white;text-align: center">
              <div style="background:white;" [ngClass]="{'tabSelected': optionSeletced === 'mensajeria'}" class="tab">
                MENSAJERÍA
              </div>
            </ion-col>
            <ion-col (click)="optionSeletced='delivery'"
                     style="background: white;border-radius: 0px 10px 10px 0px;text-align: center">
              <div style="background:white;" [ngClass]="{'tabSelected': optionSeletced === 'delivery'}" class="tab">
                DELIVERY
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="optionSeletced=='todos'" align="center" style="background: #F9F9F9;">
    <br>
    <div align="center" style="width: 80%">
      <ion-searchbar showCancelButton="always" placeholder="Buscar mensajero">
      </ion-searchbar>
    </div>
    <br>
    <div>
      <div style="background: #F9F9F9;padding: 10px">
        <ion-label style="text-align: left">&nbsp;&nbsp;Con actividad ({{activo}})</ion-label>
        <ion-list *ngFor="let perfil of mensajeros">
          <ion-item *ngIf="perfil.actividad == true" (click)="seleccionaPerfil(perfil)">
            <table width="100%">
              <tr>
                <td width="15%"><img class="izquierda"
                                     style="width: 80px;border-radius: 40px;border: 3px solid #E1E6EF;"
                                     src="{{perfil.picture.medium}}"
                                     *ngIf="perfil.picture.medium !=''">
                  <img class="izquierda" style="width: 80px;border-radius: 40px;border: 3px solid #E1E6EF;"
                       src="assets/imgs/avatar.svg"
                       *ngIf="perfil.picture.medium ==''"></td>
                <td width="70%"><h2>&nbsp;&nbsp;{{perfil.nombre}}</h2></td>
                <td width="15%" align="right">
                  <ion-badge color="warning" slot="end" class="new-badge">70</ion-badge>
                </td>
              </tr>
            </table>
          </ion-item>
        </ion-list>
      </div>
      <br>
      <br>
      <div style="background: #F9F9F9;padding: 10px">
        <ion-label style="text-align: left">&nbsp;&nbsp;Sin actividad ({{inactivo}})</ion-label>
        <ion-list *ngFor="let perfil of mensajeros">
          <ion-item *ngIf="perfil.actividad == false" (click)="seleccionaPerfil(perfil)">
            <table width="100%">
              <tr>
                <td width="15%"><img class="izquierda"
                                     style="width: 80px;border-radius: 40px;border: 3px solid #E1E6EF;"
                                     src="{{perfil.picture.medium}}"
                                     *ngIf="perfil.picture.medium !=''">
                  <img class="izquierda" style="width: 80px;border-radius: 40px;border: 3px solid #E1E6EF;"
                       src="assets/imgs/avatar.svg"
                       *ngIf="perfil.picture.medium ==''"></td>
                <td width="70%"><h2>&nbsp;&nbsp;{{perfil.nombre}}</h2></td>
                <td width="15%" align="right">
                  <ion-badge color="warning" slot="end" class="new-badge">70</ion-badge>
                </td>
              </tr>
            </table>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>

</ion-content>
