<ion-header>
  <page-header [namePage]="namePage"></page-header>
</ion-header>

<ion-content style="margin-right: 5px; margin-left: 0px;" color="primary">


  <ion-row style="background: #F9F9F9">
    <ion-col col-1>
    </ion-col>
    <ion-col>
      <div class="rounded tabs">
        <ion-row>
          <ion-col (click)="optionSeletced='todos'"
                   style="background: white;border-radius: 10px 0px 0px 10px;;text-align: center">
            <div style="background:white;" [ngClass]="{'tabSelected': optionSeletced === 'todos'}" class="tab">TODOS
            </div>
          </ion-col>
          <ion-col (click)="optionSeletced='mensajeria'" style="background: white;text-align: center">
            <div style="background:white;" [ngClass]="{'tabSelected': optionSeletced === 'mensajeria'}" class="tab">
              MENSAJERÍA
            </div>
          </ion-col>
          <ion-col (click)="optionSeletced='delivery'"
                   style="background: white;border-radius: 0px 10px 10px 0px;text-align: center">
            <div style="background:white;" [ngClass]="{'tabSelected': optionSeletced === 'delivery'}" class="tab">
              DELIVERY
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
    <ion-col col-1>
    </ion-col>
  </ion-row>


  <div *ngIf="optionSeletced=='todos'" align="center" style="background: #F9F9F9">
    <br>
    <ion-item class="style-input" style="width: 75%;">
      <ion-input placeholder="Buscar mensajero" style="background: #FFFFFF;"></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-label align="left"><b>Con actividad ({{activo}})</b></ion-label>
    <ion-list *ngFor="let perfil of mensajeros">
      <ion-item *ngIf="perfil.actividad == true" (click)="seleccionaPerfil(perfil)">
        <ion-avatar slot="start">
          <img style="border-radius: 40px;border: 3px solid #E1E6EF;" src="{{perfil.picture.medium}}"
               *ngIf="perfil.picture.medium">
          <img style="border-radius: 40px;border: 3px solid #E1E6EF;"
               src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
               *ngIf="!perfil.picture.medium">
        </ion-avatar>
        <ion-label>{{ perfil.nombre }}</ion-label>
        <ion-badge color="warning" slot="end">70</ion-badge>
      </ion-item>
    </ion-list>

    <br>
    <br>

    <ion-label align="left"><b>Sin actividad ({{inactivo}})</b></ion-label>

    <ion-list *ngFor="let perfil of mensajeros">
      <ion-item *ngIf="perfil.actividad == false">
        <ion-label (click)="seleccionaPerfil(perfil)">{{perfil.nombre}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
