<ion-header>
  <page-header [namePage]="namePage"></page-header>
</ion-header>


<ion-content padding>
  <div class="divPerfil">
    <br>
    <br>
    <ion-avatar class="avatar item-avatar">
      <img style="border-radius: 40px;border: 3px solid #E1E6EF;width: 80px;"
           src="{{pedidoSeleccionado.picture.medium}}"
           *ngIf="pedidoSeleccionado.picture.medium">
      <img style="border-radius: 40px;border: 3px solid #E1E6EF;width: 80px;"
           src="assets/imgs/avatar.svg"
           *ngIf="!pedidoSeleccionado.picture.medium">
    </ion-avatar>
    <ion-list no-lines="none">
      <ion-item>
        <ion-label align="center">
          <ion-label class="texto1">{{pedidoSeleccionado.nombre}}</ion-label>
          <h2 class="texto2">{{pedidoSeleccionado.telefono}}</h2>
        </ion-label>
      </ion-item>

      <table width="100%">
        <tr align="center">
          <td colspan="2" style="padding: 20px;" class="texto2">Entregas realizadas:</td>
        </tr>
        <tr align="center">
          <td style="width: 50%" style="padding: 20px;" class="texto2"><b>{{pedidoSeleccionado.entregas.delivery}}</b>
          </td>
          <td style="width: 50%" style="padding: 20px;" class="texto2"><b>{{pedidoSeleccionado.entregas.mensajeria}}</b>
          </td>
        </tr>
        <tr align="center">
          <td style="width: 50%" class="texto2">Delivery</td>
          <td style="width: 50%" class="texto2">Mensajería</td>
        </tr>
      </table>
    </ion-list>
    <ion-row style="background: white">
      <ion-col>
        <div class="rounded tabs">
          <ion-row>
            <ion-col (click)="optionSeletced='Activas'"
                     style="border: 1px solid #E1E6EF;background: white;border-radius: 10px 0px 0px 10px;text-align: center">
              <div style="background:white;" [ngClass]="{'tabSelected': optionSeletced === 'Activas'}" class="tab">
                Activas
              </div>
            </ion-col>
            <ion-col (click)="optionSeletced='Historial'"
                     style="border: 1px solid #E1E6EF;background: white;text-align: center;border-radius: 0px 10px 10px 0px;">
              <div style="background:white;" [ngClass]="{'tabSelected': optionSeletced === 'Historial'}" class="tab">
                Historial
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>

    <div *ngIf="optionSeletced=='Activas'" align="center" style="background: #f5f6f8;">
      <div style="background: #F9F9F9;">
        <br>
        <br>
        <ion-label style="text-align: left">&nbsp;&nbsp;&nbsp;<b>Total ({{activos.length}})</b></ion-label>
        <br>
        <ion-card *ngFor="let detalle of activos | paginate: { itemsPerPage: 5, currentPage: pageActiva }"
                  class="{{detalle.class}} card-md">
          <br>
          <h2 class="fechas">&nbsp;&nbsp;{{detalle.fecha}}</h2>
          <h3 class="tipo">&nbsp;&nbsp;{{detalle.tipo}}</h3>
          <p class="local">&nbsp;&nbsp;{{detalle.local}}</p>
          <p style="text-align: left;">&nbsp;&nbsp;{{detalle.entregaA}}</p>
          <p class="hide-show" (click)="hideShow(detalle)" *ngIf="detalle.hideShow==false">&nbsp;&nbsp;Ver detalle <span
            class="icon mif-chevron-thin-down"></span></p>
          <p style="text-align: justify;padding: 10px;" *ngIf="detalle.hideShow==true">{{detalle.detalle}}</p>
          <br>
          <p class="hide-show" (click)="hideShow(detalle)" *ngIf="detalle.hideShow==true">&nbsp;&nbsp;Ver menos <span
            class="icon mif-chevron-thin-up"></span></p>
        </ion-card>
        <pagination-controls (pageChange)="pageActiva = $event"></pagination-controls>
      </div>
      <br>
      <br>
      <br>
    </div>


    <div *ngIf="optionSeletced=='Historial'" align="center" style="background: #f5f6f8;">
      <div style="background: #F9F9F9;">
        <br>
        <br>
        <table width="100%">
          <tr>
            <td width="50%" align="left">
              <h2 class="fechas" style="font-size: 1.6rem;">&nbsp;&nbsp;&nbsp;<b>Total ({{cantidadHistorial}})</b></h2>
            </td>
            <td width="50%" align="right">
              <h2 class="fechas" style="font-size: 1.4rem;text-align: right;">Filtrar por:
                <select name="filtro" id="filtro" [(ngModel)]="opcionSeleccionado" (change)="cambioFiltro()">
                  <option value="all">Todas</option>
                  <option value="dev">Delivery</option>
                  <option value="msg">Mensajería</option>
                </select>
              </h2>
            </td>
          </tr>
        </table>
        <br>
        <div *ngIf="opcionSeleccionado=='all'">
          <ion-card *ngFor="let detalle of historial | paginate: { itemsPerPage: 5, currentPage: pageHistorial }"
                    class="{{detalle.class}} card-md">
            <br>
            <table width="100%">
              <tr>
                <td width="50%" align="left">
                  <h2 class="fechas">&nbsp;&nbsp;{{detalle.fecha}}</h2>
                </td>
                <td width="50%" align="right">
                  <p class="hide-show" style="text-align: right !important;margin-right: 10px;"
                     (click)="detalleHistorial(detalle)">&nbsp;&nbsp;Ver detalle</p>
                </td>
              </tr>
            </table>
            <h3 class="tipo">&nbsp;&nbsp;{{detalle.tipo}}</h3>
            <p class="local">&nbsp;&nbsp;{{detalle.local}}</p>
            <p style="text-align: left;">&nbsp;&nbsp;{{detalle.estatus.id}} {{detalle.estatus.fecha}}</p>
            <br>
            <p class="hide-show" (click)="detalleHistorial(detalle)" *ngIf="detalle.hideShow==true">&nbsp;&nbsp;Ver
              menos
              <span class="icon mif-chevron-thin-up"></span></p>
          </ion-card>
          <pagination-controls (pageChange)="pageHistorial = $event"></pagination-controls>
        </div>

        <div *ngIf="opcionSeleccionado=='dev'">
          <ion-card *ngFor="let detalle of listDelivery | paginate: { itemsPerPage: 5, currentPage: pageHistorialDev }"
                    class="{{detalle.class}} card-md">
            <br>
            <table width="100%">
              <tr>
                <td width="50%" align="left">
                  <h2 class="fechas">&nbsp;&nbsp;{{detalle.fecha}}</h2>
                </td>
                <td width="50%" align="right">
                  <p class="hide-show" style="text-align: right !important;margin-right: 10px;"
                     (click)="detalleHistorial(detalle)">&nbsp;&nbsp;Ver detalle</p>
                </td>
              </tr>
            </table>
            <h3 class="tipo">&nbsp;&nbsp;{{detalle.tipo}}</h3>
            <p class="local">&nbsp;&nbsp;{{detalle.local}}</p>
            <p style="text-align: left;">&nbsp;&nbsp;{{detalle.estatus.id}} {{detalle.estatus.fecha}}</p>
            <br>
            <p class="hide-show" (click)="detalleHistorial(detalle)" *ngIf="detalle.hideShow==true">&nbsp;&nbsp;Ver
              menos
              <span class="icon mif-chevron-thin-up"></span></p>
          </ion-card>
          <pagination-controls (pageChange)="pageHistorialDev = $event"></pagination-controls>
        </div>

        <div *ngIf="opcionSeleccionado=='msg'">
          <ion-card *ngFor="let detalle of listMensajeria | paginate: { itemsPerPage: 5, currentPage: pageHistorialMsg }"
                    class="{{detalle.class}} card-md">
            <br>
            <table width="100%">
              <tr>
                <td width="50%" align="left">
                  <h2 class="fechas">&nbsp;&nbsp;{{detalle.fecha}}</h2>
                </td>
                <td width="50%" align="right">
                  <p class="hide-show" style="text-align: right !important;margin-right: 10px;"
                     (click)="detalleHistorial(detalle)">&nbsp;&nbsp;Ver detalle</p>
                </td>
              </tr>
            </table>
            <h3 class="tipo">&nbsp;&nbsp;{{detalle.tipo}}</h3>
            <p class="local">&nbsp;&nbsp;{{detalle.local}}</p>
            <p style="text-align: left;">&nbsp;&nbsp;{{detalle.estatus.id}} {{detalle.estatus.fecha}}</p>
            <br>
            <p class="hide-show" (click)="detalleHistorial(detalle)" *ngIf="detalle.hideShow==true">&nbsp;&nbsp;Ver
              menos
              <span class="icon mif-chevron-thin-up"></span></p>
          </ion-card>
          <pagination-controls (pageChange)="pageHistorialMsg = $event"></pagination-controls>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>

  </div>
</ion-content>
