<ion-header>
  <page-header [namePage]="namePage"></page-header>
</ion-header>

<ion-content style="margin-right: 5px; margin-left: 0px;" color="primary">


  <ion-row>
    <ion-col col-1>
    </ion-col>
    <ion-col>
      <div class="rounded tabs">
        <ion-row>
          <ion-col (click)="optionSeletced='disponibles'" style="text-align: center">
            <div [ngClass]="{'tabSelected': optionSeletced === 'disponibles'}" class="tab">DISPONIBLES</div>
          </ion-col>
          <ion-col (click)="optionSeletced='mispedidos'" style="text-align: center">
            <div [ngClass]="{'tabSelected': optionSeletced === 'mispedidos'}" class="tab">
              MIS PEDIDOS
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
    <ion-col col-1>
    </ion-col>
  </ion-row>


  <div *ngIf="optionSeletced=='mispedidos'">
    <ion-row>
      <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="getDataSearch($event)" (ionClear)="onClear($event)"
                     placeholder="Buscar..." style="background-color: transparent; margin-left: -2%;">
      </ion-searchbar>
    </ion-row>

    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime style="font-size: 20px; background-color: transparent; color: #C8C8C8; text-align: center"
                    displayFormat="DD/MM/YYYY"
                    [max]="maxDate" [(ngModel)]="fechaGeneracion" (ionChange)="changeDate($event)"
                    cancelText="Cancelar" doneText="Continuar"
      >
      </ion-datetime>
    </ion-item>

    <h2 style="align-self: center; text-align: center; align-items: center" *ngIf="mispedidos.length <= 0">No hay pedidos</h2>

    <div style="max-height: 100%;height: 100%;" *ngIf="mispedidosFiltro.length > 0">

      <ion-item *ngFor="let pedido of mispedidosFiltro">
        <ion-row>
          <ion-col col-11 (click)="seleccionarPedido(pedido, true)">
            <ion-row>
              <h2><strong>{{pedido.venta.folio}}</strong>,&nbsp;{{pedido.venta.cantidad}} unidades</h2>
            </ion-row>

            <ion-row>
              <div text-wrap>
                <p>{{pedido.direccion}}</p>
              </div>
            </ion-row>

            <ion-row>
              <div [ngSwitch]="pedido.estatus">
                <div *ngSwitchCase="'SOLICITADO'" style="color: #ffb000;">
                  Solicitado
                </div>
                <div *ngSwitchCase="'ENTREGADO'" style="color: #32db64;">
                  Entregado
                </div>
                <div *ngSwitchCase="'CANCELADO'" style="color: #ff0000;">
                  Cancelado
                </div>
                <div *ngSwitchDefault style="color: #4079db;">
                  Sin Entregar
                </div>
              </div>
              <div *ngIf="pedido.incidencias.length>0" style="color: #ff0000">&nbsp;-&nbsp;con incidencias</div>
            </ion-row>
          </ion-col>
          <ion-col col-1 style="align-self: center" (click)="geolocalizar(pedido.href)">
            <ion-icon style="background-color: transparent; color: #c0c0c0; zoom:1.5; height:100%"
                      name="pin"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>

    </div>
  </div>
  <div *ngIf="optionSeletced=='disponibles'">
    <h2 style="align-self: center; text-align: center; align-items: center" *ngIf="pedidosDisponibles.length <= 0">No
      hay pedidos</h2>

    <div style="max-height: 100%;height: 100%;" *ngIf="pedidosDisponiblesFiltro.length > 0">

      <ion-item *ngFor="let pedido of pedidosDisponiblesFiltro">
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col>
                <h2><label class="infolabelresaltado">{{pedido.venta.programa.nombre}}</label></h2>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <label class="infolabel">${{pedido.venta.monto}}</label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <label class="infolabel">{{pedido.venta.pagos[0].conducto}}</label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4>
                <label class="infolabel"> {{pedido.venta.cantidad}} artículos
                </label>
              </ion-col>
              <ion-col (click)="seleccionarPedido(pedido, true)" style="text-align: left">
                <label class="ver infolabel"> Ver pedido</label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <button ion-button block  (click)="tomarPedido(pedido.id)" class="button-tomar">TOMAR PEDIDO</button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>

    </div>
  </div>

</ion-content>
